.App {
  text-align: center;
  background: linear-gradient(-45deg,#1C1E22, #1C1E22, #0E9CEF, #1C1E22, #1C1E22);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  color: black;
}

.App-header {
	background: inherit;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.Button-primary {
  background-color: #058DD9;
  background: linear-gradient(320.66deg, #016BB8 14.75%, #11A8FD 84.81%);
  border-radius: 30px;
  border: none;
  border-radius: 50px;
  box-shadow:  20px 20px 60px 'inherit',-20px -20px 60px '#016BB8';
}

.Button-secondary {
  background-color: inherit;
  /* background: linear-gradient(320.66deg, #2F353A 14.75%, #1C1F22 84.81%); */
  border-radius: 30px;
  border: solid;
  border-width: thin;
  border-color: white;
  padding: 2px;
  /* background: linear-gradient(320.66deg, #1D2328 14.75%, #131314 84.81%); */
}


