.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  color: linear-gradient(-45deg, #fff, #000);
  animation: gradient infinite 10s linear;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: gradient infinite 20s linear;
  }
}

.App-header {
	background: linear-gradient(-45deg,#1C1E22, #1C1E22, #0E9CEF, #1C1E22, #1C1E22);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


